.navbar {
  background-color: #091530;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
}

.nav-menu {
  background-color: #091530;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 999;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-menu-items {
  padding-right: 40px;
}

.nav-text,
x-out {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  width: 95%;
  font-size: 1.25rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 10px;
}

.x-out {
  font-size: 1.5rem;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
}

.nav-text a:hover {
  background-color: rgb(193, 193, 193);
}

.x-out:hover {
  background-color: rgb(193, 193, 193);
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #091530;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}
