/* START OF HOME CSS */

.home {
  background-image: url(../images/appBG.png);
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 35px;
}

.search {
  background-color: white;
  margin-left: 10px;
  padding: 5px;
  width: 430px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.search input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
}

.search button {
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.search button:hover {
  background-color: #ddd;
  transform: scale(0.9);
}

.searchResults {
  background-color: white;
  width: 436px;
  position: absolute;
  top: 70;
  left: 1;
  margin-left: 13px;
  border-radius: 2px;
  border-top: 1px solid black;
  transition: 850ms;

  max-height: 200px;
  overflow: scroll;
  overflow-x: none;
  z-index: 200;
}

.searchResults ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchResults ul li {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  padding-right: 20px;
}

.searchBtn {
  background-color: rgb(180, 178, 178) !important;
}

.searchBtn:hover {
  background-color: #ddd !important;
}

.searchResults ul li:hover {
  background-color: rgb(228, 227, 227);
  cursor: pointer;
}

/* This is the styling for the component that
holds the stock and company data */

.stocksDetail {
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  padding-left: 18px;
}

.left,
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left ul,
.right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left ul li,
.right ul li {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  padding-right: 20px;
  border-bottom: 1px solid black;
}

/* END  OF HOME CSS */

/* WishList.js CSS */

.wishList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  border-radius: 10px;
}

/* WishList.js CSS */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

/* WishList.js CSS */
.container h1 {
  margin: 0;
  padding: 0;
  color: rgb(53, 54, 97);
}

/* WishList.js CSS
.container h1 span {
  /* color: rgb(53, 54, 97);
  font-size: 30px; 
} */

/* WishList.js CSS */
.wishList ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* WishList.js CSS */
.wishList ul li {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  padding-right: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* WatchList.js and WishList.js CSS */
.icons {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

/* WatchList.js and WishList.js CSS */
.icons > * {
  font-size: 20px;
  cursor: pointer;
  margin: 0 20px;
}

/* WatchList.js and WishList.js CSS */
.wishList ul li:hover {
  background-color: rgb(228, 227, 227);
  cursor: pointer;
}

/* WatchList.js and WishList.js CSS */
.icons > *:hover {
  transform: scale(0.9);
}

/* WatchList.js CSS */
.stocksData {
  color: rgb(53, 54, 97);
}

/* AddtoWatchList.js CSS */
.addtoWatchList {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
}

/* AddtoWatchList.js CSS */
.addtoWatchList button {
  border: none;
  outline: none;
  background-color: rgb(53, 54, 97);
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
}

/* AddtoWatchList.js CSS */
.addtoWatchList button:hover {
  background-color: rgba(53, 54, 94, 0.8);
  transform: scale(0.9);
}

/* AddtoWatchList.js CSS */
.addtoWatchList ul {
  list-style: none;
  padding: 0;
  padding-right: 30px;
  margin: 0;
  width: 100%;
}

/* AddtoWatchList.js CSS */
.addtoWatchList ul li {
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  padding-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;
  text-align: left;
}

/* AddtoWatchList.js CSS */
.singleItem {
  background-color: #cbc8c8;
}
/* AddtoWatchList.js CSS */
.addtoWatchList ul li {
  margin: 0;
}

/* AddtoWatchList.js CSS */
.addtoWatchList ul li,
.addWatchList,
modalButton {
  transform: scale(0.9);
  display: flex;
  align-items: center;
  align-items: flex-start;
}

/* AddtoWatchList.js CSS */
.addWatchList input {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid black;
}
/* END OF HOME WATCH LIST HOME CSS */

/* START OF CHART HOME CSS */
.chart {
  margin-top: 40px;
  height: 400px;
}

.chartContainer {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
  height: 100%;
}

/* END OF CHART HOME CSS */
