.main-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
  flex-direction: column;
  background-color: aqua;
}
.searchbar {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.searchbar input {
  width: 80%px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
}

.search-list {
  margin: 0 auto;
}

.search-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.search-list ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}
